{% extends 'base.html' %}
{% load staticfiles %}

{% block includes %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#task-start').datepicker({dateFormat: 'yy-mm-dd'});
            $('#task-end').datepicker({dateFormat: 'yy-mm-dd'});

            $('.complete-task-btn').on('click', function() {
                var liparent = $(this).parent();
                var pk = parseInt(liparent.attr('task-data'));

                completeTask(pk, liparent);
            });
        });

        var completeTask = function(pk, li) {
            console.log(csrf);

            $.post('{% url 'complete' %}', {
                'pk': pk,
                'csrfmiddlewaretoken': csrf
            }, function(data) {
                if (data.success) {
                    li.remove();
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Hello</h1>

    <ul>
    {% for task in tasks %}
        <li task-data="{{ task.pk }}">
            <button class="btn complete-task-btn"><span class="glyphicon glyphicon-ok"></span></button>
            {{ task.title }}: {{ task.start_date|date:"M j Y" }} - {{ task.end_date|date:"M j Y" }}
        </li>
    {% empty %}
        <li>No tasks</li>
    {% endfor %}
    </ul>

    <form class="form" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="task-title">Title</label>
            <input type="text" class="form-control" id="task-title" name="title"/>
        </div>

        <div class="form-group">
            <label for="task-desc">Description</label>
            <textarea name="description" id="task-desc" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="task-start">Start</label>
            <input type="text" name="start_date" id="task-start" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="task-end">Due</label>
            <input type="text" name="end_date" id="task-end" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}